.App {
  width: 150px;
  height: 100px;
  background: rgb(255,255,255);
  background: linear-gradient(161deg, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
  padding: 20px;
}

.ant-btn {
  font-family: 'Noto Sans KR', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  font-size: 11px !important;
  font-weight: 700;
}

